* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    
}
.btn {
    padding: 7px 25px;
    background-color: #0061ff;
    color:white;
    text-decoration: none;
}
.btn-w {
    padding: 7px 25px;
    border: 1px solid black;
    background-color: white;
    color:black;
    text-decoration: none;
}
.btn:hover {
    opacity: 0.7;
}
.btn:hover {
    background-color: rgb(233, 233, 233);
}
.link-nero {
    color: black;
}
.link-nero:hover {
    text-decoration: none;
}
.box {
    width: calc(100% / 3 - 4%);
    border: 1px solid black;
    margin-bottom: 40px;
}
h2 {
    font-size:40px;
}
p {
    line-height: 1.6;
}

/* debug */

/* .container {
    height: 100%;
} */
.logo {
    height: 90%;
}
/* header {
    width: 100%;
    height: 90px;
} */
/* .jumbotron {
    background-color: green;
} */
main section {
    height: 1500px;
    border: 2px solid black;
    background-color:lightcoral;
}
footer {
    width: 100%;
    height: 400px;
    background-color:darkslategray;
}
/*     
.box {
    background-color: aquamarine;
    height: 830px;
} */
.colonna {
    height: 500px;
    /* border: 1px solid red; */
}
/* fine debug */


/* header */
.crearfix::after{
    display: table;
    content: "";
    clear: both;
}
header {
    position: relative;
}
header .container {
    height: 90px;
    width: 100%;
    line-height: 87px;
    position: fixed;
    background-color: white;
    z-index: 900;
}
#logo {
    height:40% ;
    vertical-align: middle;
    margin: 0 20px;
}
.linksx, .linkdx {
    display: inline-block;
}
.float-dx {
    float: right;
}
.float-sx {
    float: left;
}

nav li {
    margin: 0 30px;
    display: inline-block;

}
#btn-header {
    margin:0 20px;
    display: inline;
}
li a {
    text-decoration: none;
    color:black;
    text-transform: capitalize;
}
nav li:hover {
    border-bottom: 3px solid black;
}

/* jumbotron */

.jumbotron {
    width: 100%;
    padding: 10% 12% 8% 12%;
    background-color: #b4d0e7;
}
.jumbotron .container {
    position: relative;
}
h1.first-title {
    font-size: 80px;
    margin-bottom: 5%;
    
    
}
.jumbotron p {
    width: 25%;
    display: inline-block;
    margin-bottom: 2%;
}
#appview {
    position: absolute;
    width: 90%;
}
#btn-jumbo {
    margin: 2% 0;
}
.nb {
    font-size: 15px;
    margin: 2% 0;
}
#icon-row {
    font-size: 50px;
    margin: 2% 0%;
}

/* main */

section {
    width: 100%;
    padding:0 20%; 
    margin: 100px 0;
}

/* box piano business*/
.piano-business .contenuto {
    margin-top: 200px;
}
.piano-business input {
    margin: 5% 0 ;
}
.piano-business label{
    margin-right: 10px;
}

/* sezione 3 opzioni */
.box-opzioni {
    margin: auto;
    width: 100%;
    height: 830px;
}
.opzione2 {
    margin: 0 6%;
}
.opzione1, .opzione2, .opzione3 {
    height: 830px;
    border: 1px solid black;
}
.box-title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px;
    text-transform: capitalize;
}
.info-box {
    /* padding: 20px; */
}
.info-box li {
    font-size: 17px;
    list-style: none;
    margin: 10px 0;
    padding:3px 20px;
}
.info-titolo li:first-child {
    font-size: 22px;
    margin-top: 20px;
}
.info-box .info-titolo li:last-child {
    color: #637381;
    font-style: italic;
    margin-bottom: 45px;
}
.info-box .info-dati li:last-child {
    margin-bottom: 45px;
}
.info-dati i {
    margin-left: -19px;
}
.info-dati li {
    margin-left: 19px;
}
.prova-gratis {
    width: 100%;
    margin-left: 13%;
}
#btn-prova {
    text-align: center;
}
#oppure {
    margin: 20px 20px;
    font-size: 15px;
}
#oppure span {
    border-bottom: 1px solid #637381;
    padding: 25px 0;
}
#oppure a {
    color: blue;
}
.highlights {
    padding:25px 20px;
}
.highlights-titolo {
    margin-bottom: 15px;;
}
.checkpoint li {
    list-style: none;
    font-size: 17px;
    margin:10px 0;
    padding-left: 19px;

}
.checkpoint ul li::before {
    content: '\2713';
    color: blue;
    margin-left: -19px;
}

/* sezione enterprise */
.enterprise {
    width: 100%;
    border: 1px solid black;
    margin: 40px 0;
    position: relative;
}
.testo-enterprise {
    line-height: 50px;
    padding: 20px;
}
#btn-enterprise {
    position: absolute;
    right: 20px;
    top: 70px;
}

/* sezione contatto */
.img-contatto {
    width: 50%;
    display: inline-block;
}
.testo-contatto {
    width: 40%;
    line-height: 1.6;
}
.testo-contatto h2 {
    margin: 40px 0;
}
.testo-contatto p {
    margin-bottom: 40px;
}

/* sezione operazioni */
.operazioni-titolo {
    margin-bottom: 60px ;
}
.spiegazione2 {
    margin:0 6% ;
}
.prima-riga .box, .seconda-riga .box {
    border: none;
    min-height: 600px;
}
.prima-riga .box img, .seconda-riga .box img {
    width: 100%;
}
.testo-spiegazione h3 {
    margin: 30px 0;
}
.testo-spiegazione p span {
    font-weight:bold ;
}

/* sezione partnership */
.partnership {
    padding: 0;
}
.partnership-titolo {
    width: 70%;
    padding: 0 20%;
}
.partnership-titolo a {
    margin: 30px 0;
    color: blue;
    display: inline-block;
}
.colonna {
    width: calc(100% / 3);
}
.box-marchio {
    height: calc(100% / 2);
    width: calc(100% / 2);
    padding: 103px 116px;
}
.box-marchio img {
    width: 110%;
    filter: invert(1);
}
#designit, #uf, #lp, #wb {
    width: 140%;
    margin-left: -25px;
}
.azienda1 {
    background-color: #a2d39b;
}
.azienda2 {
    background-color: #61082b;
}
.azienda3 {
    background-color: #0093ce;
}
.azienda4 {
    background-color: #ff1c1c;
}
.azienda5 {
    background-color: #d5001f;
}
.azienda6 {
    background-color: #b4d0e7;
}
.azienda7 {
    background-color: #0d2481;
}
.azienda8 {
    background-color: #ffd830;
}