* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body {
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif
}
.btn {
    padding: 7px 25px;
    background-color: #0061ff;
    color:white;
    text-decoration: none;
    display: inline;
}
.btn:hover {
    opacity: 0.7;
}
h2 {
    font-size:40px;
}
li {
    
}
/* debug */

/* .container {
    height: 100%;
} */
/* header {
    width: 100%;
    height: 90px;
 } */
.logo {
    height: 90%;
}
/* .jumbotron {
    background-color: green;
} */
main section {
    width: 100%;
    height: 300%;
    border: 2px solid black;
    background-color:lightcoral;
}
footer {
    width: 100%;
    height: 400px;
    background-color:darkslategray;
}

.box {
    background-color: aquamarine;
}
/* fine debug */


/* header */
.crearfix::after{
    display: table;
    content: "";
    clear: both;
}
header {
    position: relative;
}
header .container {
    height: 90px;
    width: 100%;
    line-height: 87px;
    position: fixed;
    background-color: white;
        z-index: 900;
}
#logo {
    height:40% ;
    vertical-align: middle;
    margin: 0 20px;
}
.linksx, .linkdx {
    display: inline-block;
}
.float-dx {
    float: right;
}
.float-sx {
    float: left;
}

nav li {
    margin: 0 30px;
    display: inline-block;

}
#btn-header {
    margin:0 20px;
}
li a {
    text-decoration: none;
    color:black;
    text-transform: capitalize;
}
nav li:hover {
    border-bottom: 3px solid black;
}

/* jumbotron */

.jumbotron {
    width: 100%;
    height: 800px;
    padding:10% 20%;
    background-color: #b4d0e7;
}
.jumbotron .container {
    position: relative;
}
h1.first-title {
    font-size: 50px;
    margin-bottom: 10%;
    
    
}
.jumbotron p {
    width: 25%;
    line-height: 1.6;
    display: inline-block;
    margin-bottom: 2%;
}
#appview {
    position: absolute;
}
#btn-jumbo {
    margin: 2% 0;
}
.nb {
    font-size: 15px;
    margin: 2% 0;
}
#icon-row {
    font-size: 50px;
    margin: 2% 0%;
}

/* main */
section {
    width: 100%;
    padding:10% 20%;  
}
.piano-business input {
    margin: 5% 0 ;
}
/* box piano business*/
.box-opzioni {
    margin: auto;
    width: 100%;
}
.box {
    float: left;
    width: calc(100% / 3 - 4%);
    height: 50%;
    border: 1px solid black;
    
}
.opzione2 {
    margin: 0 6%
}
.box-title {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 3%;
    text-transform: capitalize;
}
.info-box li *{
    text-decoration: none;
    margin-left: 7%;
}
.info-box li:first-child {
    font-size: 22px;
}